<% include common/header.ejs %>
<body>
<div id="top-bar">
    <div id="logo">
        <h1 class="h1 font-weight-bold">BANK</h1>
    </div>
</div>
<div class="text-center d-flex align-items-center">
    <div class="container info-cont">
        <div class="col form-update">
            <form>
                <h1 class="h3 font-weight-normal">Top up phone</h1>

                <label for="inputTel" class="sr-only">Phone Number</label>
                <input type="tel" id="inputTel" class="form-control top-form" placeholder="Phone number" required>

                <label for="amountTel" class="sr-only">Amount</label>
                <input type="tel" id="amountTel" class="form-control middle-form" placeholder="Amount" required>


                <select class="form-control middle-form" id="cardFrom" required>

                </select>

                <label for="currentPassword" class="sr-only">Password</label>
                <input type="password" id="currentPassword" class="form-control bottom-form" placeholder="Current Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Top up</button>
            </form>
            <form action="/profile" method="get">
                <button class="btn btn-lg btn btn-outline-dark btn-block back-b">
                    <i class="fas fa-arrow-left"></i> Back
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>